<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/styles/msteams-16.css" />
    <script
      src="https://res.cdn.office.net/teams-js/2.9.1/js/MicrosoftTeams.min.js"
      integrity="sha384-xnsUQ1tUqsrutBJl0vuf4/hufzLFWW8ZhGnhItfpQ0/BtWgM2uw6YT6BQ5YaKBSM"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/teamsapp.js"></script>
    <title>Microsoft Teams Tab</title>
  </head>

  <body class="theme-light">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="surface">
      <div class="panel">
        <div class="font-semibold font-title">
          <h1>Hello, World</h1>
          <p>Welcome to Microsoft Teams Hello World sample app (Node.js)</p>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      microsoftTeams.appInitialization.notifySuccess();
    </script>
  </body>
</html>
