<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/styles/msteams-16.css" />
    <link rel="stylesheet" type="text/css" href="/styles/hello.css" />
    <script
      src="https://res.cdn.office.net/teams-js/2.9.1/js/MicrosoftTeams.min.js"
      integrity="sha384-xnsUQ1tUqsrutBJl0vuf4/hufzLFWW8ZhGnhItfpQ0/BtWgM2uw6YT6BQ5YaKBSM"
      crossorigin="anonymous"
    ></script>
    <script src="/scripts/teamsapp.js"></script>
    <link
      rel="stylesheet"
      href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/11.0.0/css/fabric.min.css"
    />
    <script
      type="text/javascript"
      src="https://alcdn.msauth.net/browser/2.21.0/js/msal-browser.min.js"
      integrity="sha384-s/NxjjAgw1QgpDhOlVjTceLl4axrp5nqpUbCPOEQy1PqbFit9On6uw2XmEF1eq0s"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Microsoft Teams Tab</title>
  </head>

  <body class="theme-light">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div class="surface">
      <div class="panel">
        <div class="font-semibold font-title">
          <h1>Hello, World</h1>
          <p>Welcome to Microsoft Teams Hello World sample app (Node.js)</p>
          <span>
            <p>Your app is running in</p>
            <p id="hubName"></p>
          </span>
        </div>
        <button id="oboBtn">Request obo token</button>
        <button id="ssoBtn">Request access token</button>
        <div class="container">
          <div class="profile">
            <span id="name"><b>Name: </b></span><br />
            <span id="username"><b>User Name: </b></span><br />
            <span id="email"><b>Email: </b></span><br />
            <span id="work"><b>Work: </b></span>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      microsoftTeams.appInitialization.notifySuccess();
    </script>
    <script src="/static/scripts/authentication.js"></script>
  </body>
</html>
